%h4 Validador
#validate_response= @result
%form#validate{:action => '/validate', :method => :post}
  .input-append
    %input#document.span3{:name => 'document', :type => :text }
      %button{:class => :btn}>
        Vai!
