%h2.loud Sobre
.span-17
  %p
    Projetos que envolvem cadastros com CPF/CNPJ exigem o uso de dezenas de números para testes diariamente. Embora já existam
    inúmeros geradores, a maioria depende de cliques em botões "gerar", para depois marcar o texto e só então copiá-lo. Essa é
    a minha tentativa de criar uma ferramenta um pouco melhor enquanto me divirto numa sexta a noite.

  %h3 Tech Notes

  %p
    Como bom nerd, esse site também foi uma oportunidade de experimentar algumas coisas novas.

  %h4 Sinatra
  %p
    Um framework web Ruby muito leve e prático para geração de pequenas aplicações.
    %br
    = link_to "http://www.sinatrarb.com/", "http://www.sinatrarb.com/y"

  %h4 Clippy
  %p
    Um pequeno flash que permite colocar texto no clipboard do usuário quando clicado.
    %br
    = link_to "http://github.com/mojombo/clippy", "http://github.com/mojombo/clippy"

  %h4 CpfCnpj-Bookmarklet
  %p
    Os algoritmos de geração de CPF/CNPJ foram extraídos daqui.
    %br
    = link_to "http://github.com/levycarneiro/cpf-cnpj-bookmarklet/", "http://github.com/levycarneiro/cpf-cnpj-bookmarklet/"
