body { margin-top: 25px; }

h1 a, h1 a:hover{
  color: #000;
  text-decoration: none;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Verdana, sans-serif;
}

.entity {
  margin-top: 10px;
  font-size: 14px;
  padding: 10px;
}
.entity.even { background-color: #EEE; }
.entity.odd  { background-color: #DFDFDF; }

.validate {
  background-color: #E5ECF9;
  padding: 18px;
}

.validate h4 { margin-bottom: 10px; }
